.DS_Store
.env
backend/src/main/resources/application-docker.yml
backend/src/main/resources/application-dbconfig.yml
backend/gradle.properties

.idea/**
*.log!/logs/
!/logs/
logs/

*.log

logs/

backend/src/main/resources/application-local.yml



backend/src/test/resources/application-test.yml
