version: "3"
services:
  mysql:
    container_name: mysql
    image: mysql:latest
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_USER_PASSWORD}
      TZ: Asia/Seoul

  springboot:
    container_name: springboot
    build:
      context: ./backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      WAIT_HOSTS: mysql:3306

  nginx:
    container_name: nginx
    build:
      dockerfile: dockerfile
      context: ./nginx
    ports:
      - "80:80"
    restart: always
    depends_on:
      - springboot

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile

    container_name: frontend

    ports:
      - "3000:3000"
