@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  min-height: 600px;
}
@font-face {
  font-family: "NanumGothic";
  src: url("./assets/fonts/NanumGothic.ttf");
}
@font-face {
  font-family: "NanumGothicBold";
  src: url("./assets/fonts/NanumGothicBold.ttf");
}
@font-face {
  font-family: "NanumGothicExtraBold";
  src: url("./assets/fonts/NanumGothicExtraBold.ttf");
}
@font-face {
  font-family: "NanumGothicLight";
  src: url("./assets/fonts/NanumGothicLight.ttf");
}
@font-face {
  font-family: "LeferiBaseRegular";
  src: url("./assets/fonts/LeferiBaseRegular.ttf");
}
@font-face {
  font-family: "LeferiBaseBold";
  src: url("./assets/fonts/LeferiBaseBold.ttf");
}
@font-face {
  font-family: "LatoBold";
  src: url("./assets/fonts/LatoBold.ttf");
}