@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  min-height: 600px;
}

@font-face {
  font-family: 'LeferiBaseRegular';
  src: url('./assets/fonts/LeferiBaseRegular.ttf');
}
@font-face {
  font-family: 'LeferiBaseBold';
  src: url('./assets/fonts/LeferiBaseBold.ttf');
}
@font-face {
  font-family: 'LatoBold';
  src: url('./assets/fonts/LatoBold.ttf');
}
@font-face {
  font-family: 'LatoLight';
  src: url('./assets/fonts/LatoLight.ttf');
}
@font-face {
  font-family: 'LatoRegular';
  src: url('./assets/fonts/LatoRegular.ttf');
}
@font-face {
  font-family: 'LatoSemibold';
  src: url('./assets/fonts/LatoSemibold.ttf');
}
