spring:

  profiles:
    active: local

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
    async:
      request-timeout: 60000

  output:
    ansi:
      enabled: always


logging:
  config: classpath:logback-spring.xml


# swaggerDOC
springdoc:
  swagger-ui:
    version: v1.0
  packages-to-scan: com.graphy.backend
